[Unit]
Description=Sophos CAA network manager
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=sophos-caa-manager
Restart=on-failure
RestartSec=5
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=default.target

